@page "/"
@attribute [Authorize]

<div class="alert alert-secondary mt-4">
    <strong>@Title</strong>
    <h5>Система контроля нарушителей</h5>
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <span class="text-nowrap">
        Приветствуем Вас на информационном портале, позволяющем производить проверку кандидата на предмет лояльности к компании.<br />
        Система позволяет проверить по ФИО, работал ли кандидат ранее, если да, был ли уволен по дискредитирующей статье.<br /><br />
    </span>
    <span class="text-danger">
        Главное окно приложения для подачи запроса в систему выглядит так:<br />
    </span>
    <img src="./images/Scrin.png" class="w-75"/><br />
    <span class="text-danger">
        Команда меню для подачи запроса: «Данные»<br />
        Команда меню для смены пароля на вход: «Администрирование»<br /><br />
    </span>
    <span>
        Для реализации запроса по проверке кандидата, в поле «Поиск», необходимо указать ФИО и нажать клавишу «Enter». Если система, в результате ответа, покажет нарушителя с такими же инициалами, то это означает, что рассматриваемый кандидат, находится в списке нарушителей, статус которого определён руководством компании и указан в соответствующем поле в базе данных.
        Для просмотра подробностей, необходимо открыть карточку командой «Подробнее», посмотреть параметры нарушения и статус приёма на работу. Если статус указан как запрещающий, то такой кандидат на рассмотрение к приёму в компанию, не допускается. При этом, о результатах запроса, необходимо сообщить всем заинтересованным лицам, участвующим в процессе рассмотрения кандидата. Для получения дополнительных консультаций, уточнений можно обратиться к представителю КРО компании, через почтовый номер «853».
        <br /><br />
        В процессе эксплуатации приложения возможна коррекция по дизайну, исправление ошибок.<br />
        По вопросам эксплуатации пишите на номер «220»
    </span>
</div>

<div class="row alert alert-secondary">
    <div class="col">
        <h5>Горячие клавиши</h5>
        <span class="text-nowrap">
            Добавить - Control + 1<br />
            Подробнее - Control + 2<br />
            Изменить - Control + 3<br />
            Удалить - Control + 4<br />
            Восстановить - Control + 5<br />
        </span>
    </div>

</div>

<div class="row alert alert-secondary">
    <div class="col">
        <h5>Обозначение иконок</h5>
        <span class="text-nowrap">
            Статус:<br />
            Не определено - <i class="oi oi-question-mark h5" style="color:#1a6fb3;"></i><br />
            Запрещается - <i class="oi oi-ban h5" style="color:brown;"></i><br />
            Разрешается - <i class="oi oi-circle-check h5" style="color:green;"></i><br />
        </span>
    </div>

</div>

@code {
    [Parameter]
    public string? Title { get; set; }
    [CascadingParameter]
    public MainLayout Layout { get; set; }
    protected override void OnInitialized()
    {
        Layout.Title = "О программе";
    }

}

