
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Система контроля</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="offenders">
                <span class="oi oi-people"></span> Данные
            </NavLink>
        </div>
        <AuthorizeView Roles="ADMIN">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="revise">
                    <span class="oi oi-spreadsheet"></span> Контроль
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="MGKRO">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="revise">
                    <span class="oi oi-spreadsheet"></span> Контроль
                </NavLink>
            </div>
        </AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin">
                <span class="oi oi-key"></span> Администирование
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : "";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
